opencv-python
mediapipe==0.10.14

# update 0

# update 1

# update 2

# update 3

# update 4

# update 5

# update 8

# update 9

# update 12

# update 13

# refactor 1

# refactor 6

# refactor 7

# refactor 8

# refactor 9

# refactor 11

# refactor 14

# refactor 16

# refactor 18

# refactor 19

# refactor 23

# refactor 24

# refactor 25

# refactor 26

# refactor 28

# refactor 31

# refactor 33

# refactor 34

# refactor 35

# refactor 36

# refactor 37

# refactor 38

# refactor 41

# refactor 42

# refactor 43

# refactor 44

# refactor 45

# refactor 46

# refactor 49

# refactor 51

# refactor 55

# refactor 56

# refactor 57

# refactor 61

# refactor 62

# refactor 67

# refactor 70

# refactor 71

# refactor 72
