opencv-python
mediapipe==0.10.14

# update 0

# update 1

# update 2

# update 3

# update 4

# update 5

# update 8

# update 9

# update 12

# update 13

# refactor 1

# refactor 6

# refactor 7

# refactor 8

# refactor 9

# refactor 11
